body{
	background:ivory;
}
#nav{
	background:#6fc98a;
}
#img1{
	max-height:75px;
	max-width:75px;
}
#text{
	font-size:40px;
}
#past{
	text-align:center;
	margin-top:100px;
	
}
#cur{
	text-align:center;
	margin-top:50px;
}

//upcoming events page
#card{
	background:#6fc98a;
}
//past events page


