body{
	background:ivory;
}
#nav{
	background:#6fc98a;
}
#img1{
	max-height:75px;
	max-width:75px;
}
#text{
	font-size:30px;
}
#past{
	text-align:center;
	position:relative;
	top:125px;
}
#cur{
	text-align:center;
	position:relative;
	top:150px;
}

//upcoming events page
#card{
	background:#6fc98a;
}
//past events page


